## üìä Atividade: An√°lise de Dados de Vendas com Pandas
üéØ Objetivo
Os alunos ir√£o analisar um conjunto de dados fict√≠cio de uma empresa de e-commerce, aplicando fun√ß√µes do Pandas para explorar e extrair insights sobre as vendas.

In [5]:
import pandas as pd

# Criando o DataFrame
dados_vendas = {
    'Pedido_ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
    'Cliente': ['Ana', 'Bruno', 'Carla', 'Daniel', 'Elisa', 'Felipe', 'Gabriela', 'Hugo', 'Isabel', 'Jo√£o'],
    'Categoria': ['Eletr√¥nicos', 'Roupas', 'Eletr√¥nicos', 'Livros', 'Roupas', 'Eletr√¥nicos', 'Livros', 'Roupas', 'Eletr√¥nicos', 'Livros'],
    'Valor_Venda': [1200, 250, 3500, 90, 180, 2500, 120, 300, 4500, 80],
    'Data': pd.to_datetime(['2024-01-15', '2024-01-18', '2024-01-21', '2024-01-22', '2024-01-25', 
                            '2024-02-02', '2024-02-10', '2024-02-14', '2024-02-20', '2024-02-25']),
    'Quantidade': [1, 3, 2, 1, 2, 1, 2, 4, 1, 1],
    'Avaliacao': [4.5, 3.8, 4.9, 4.2, 3.5, 4.7, 4.1, 3.9, 5.0, 4.0]
}

df = pd.DataFrame(dados_vendas)

# Exibir as primeiras linhas do DataFrame
print(df.head())

ModuleNotFoundError: No module named 'pandas'

In [ ]:
#Qual foi o valor m√©dio das vendas?

print("Valor m√©dio das vendas:", df['Valor_Venda'].mean())

In [ ]:
#Qual foi a categoria mais vendida em quantidade de produtos?

print(df.groupby('Categoria')['Quantidade'].sum())

In [ ]:
#Qual foi o maior valor de venda registrado? E quem comprou?

max_venda = df[df['Valor_Venda'] == df['Valor_Venda'].max()]
print(max_venda[['Cliente', 'Valor_Venda']])

In [ ]:
vendas_fevereiro = df[df['Data'].dt.month == 2]
print("Total de vendas em fevereiro:", len(vendas_fevereiro))